USE [master]
GO
/****** Object:  Database [Food_Shop_Billing_System_DB]    Script Date: 05-04-2025 02:23:34 ******/
CREATE DATABASE [Food_Shop_Billing_System_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Food_ShopBilling_System_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Food_ShopBilling_System_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Food_ShopBilling_System_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Food_ShopBilling_System_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Food_Shop_Billing_System_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Food_Shop_Billing_System_DB]
GO
/****** Object:  Table [dbo].[Category_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Details](
	[Category_id] [int] NOT NULL,
	[Category_Name] [varchar](50) NOT NULL,
	[Merchant_Name] [varchar](50) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Details](
	[Coustomer_ID] [int] NOT NULL,
	[Coustomer_Name] [varchar](80) NOT NULL,
	[Date] [date] NOT NULL,
	[Discount] [float] NOT NULL,
	[Final_Bill] [int] NOT NULL,
	[Entered_User] [varchar](50) NULL,
 CONSTRAINT [PK_Coustomer_Details] PRIMARY KEY CLUSTERED 
(
	[Coustomer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expence_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expence_Details](
	[Expence_ID] [int] NOT NULL,
	[Expence_Details] [nvarchar](120) NOT NULL,
	[Amount] [int] NOT NULL,
	[Bill_Image] [image] NOT NULL,
	[Paid_by] [nvarchar](50) NOT NULL,
	[Date] [date] NULL,
	[Entered_User] [varchar](50) NULL,
 CONSTRAINT [PK_Expence_Details] PRIMARY KEY CLUSTERED 
(
	[Expence_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[User_Id] [int] NOT NULL,
	[User_Name] [varchar](50) NOT NULL,
	[User_Role] [varchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchant_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchant_Details](
	[Merchant_id] [int] NOT NULL,
	[Merchant_Name] [varchar](80) NOT NULL,
	[Mearchant_Mob_No] [numeric](10, 0) NOT NULL,
	[Bink_Details] [nvarchar](80) NOT NULL,
	[Mearchant_Address] [nvarchar](80) NOT NULL,
	[Remening_Amount] [money] NULL,
	[Rem_Amt_Date] [date] NULL,
	[Merchant_Date] [date] NULL,
	[Entered_User] [varchar](30) NULL,
 CONSTRAINT [PK_Merchant_Details] PRIMARY KEY CLUSTERED 
(
	[Merchant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[Order_ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Product_Total_Bill] [money] NOT NULL,
	[Entered_User] [varchar](50) NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Details](
	[Payment_ID] [int] NOT NULL,
	[Merchant_Name] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Remaning_Bill] [money] NOT NULL,
	[Paid_Bill] [money] NOT NULL,
	[Total_Bill] [money] NOT NULL,
	[Payment_Method] [varchar](30) NOT NULL,
	[Entered_User] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Details](
	[Product_Id] [int] NOT NULL,
	[Category] [varchar](80) NOT NULL,
	[Product_Name] [varchar](120) NOT NULL,
	[Purchase_Prise] [int] NOT NULL,
	[Sales_Price] [int] NOT NULL,
	[Merchant_Name] [varchar](80) NOT NULL,
	[Note] [nvarchar](120) NOT NULL,
	[Current_Stock] [int] NOT NULL,
	[Status] [bit] NULL,
	[Entered_User] [varchar](50) NULL,
	[Unit] [varchar](5) NULL,
	[barcode] [nvarchar](30) NULL,
 CONSTRAINT [PK_Product_Details] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Details](
	[Coustomer_ID] [int] NOT NULL,
	[Product_Name] [varchar](80) NOT NULL,
	[Sales_Price] [int] NOT NULL,
	[Quentity] [int] NOT NULL,
	[Product_Total_Bill] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recived_Order_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recived_Order_Details](
	[Order_ID] [int] NOT NULL,
	[Caregory_Details] [varchar](50) NOT NULL,
	[Merchant_Name] [varchar](50) NOT NULL,
	[Product_Name] [varchar](80) NOT NULL,
	[Purchase_Price] [money] NOT NULL,
	[Sales_Price] [money] NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop_Details](
	[Shop_ID] [int] NOT NULL,
	[Shop_Name] [varchar](120) NOT NULL,
	[Owner_Name] [varchar](80) NOT NULL,
	[Shop_Phone_Name] [numeric](10, 0) NULL,
	[Owner_Mobile_No] [numeric](10, 0) NOT NULL,
	[Bink_Details] [nvarchar](120) NOT NULL,
	[Shop_Address] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_Shop_Details] PRIMARY KEY CLUSTERED 
(
	[Shop_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_Details]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Details](
	[Staff_ID] [int] NOT NULL,
	[Staff_Role] [varchar](50) NOT NULL,
	[Staff_Name] [varchar](80) NOT NULL,
	[Mobile_No] [numeric](10, 0) NOT NULL,
	[Alt_Mobile_No] [numeric](10, 0) NULL,
	[Joining_Date] [date] NOT NULL,
	[Adhar_card_No] [numeric](11, 0) NOT NULL,
	[Current_Address] [nvarchar](120) NOT NULL,
	[Note] [nvarchar](120) NULL,
	[Status] [bit] NULL,
	[Enterd_User] [varchar](50) NULL,
 CONSTRAINT [PK_Staff_Details] PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category_Details] ([Category_id], [Category_Name], [Merchant_Name], [Status]) VALUES (1, N'Namkeen', N'Quality Bakery', 1)
INSERT [dbo].[Category_Details] ([Category_id], [Category_Name], [Merchant_Name], [Status]) VALUES (2, N'Namkeen', N'Jitandrea Namkeen', 1)
INSERT [dbo].[Category_Details] ([Category_id], [Category_Name], [Merchant_Name], [Status]) VALUES (3, N'Chana', N'Mahaluxmi Treaders', 1)
GO
INSERT [dbo].[Customer_Details] ([Coustomer_ID], [Coustomer_Name], [Date], [Discount], [Final_Bill], [Entered_User]) VALUES (1, N'abc', CAST(N'2025-03-06' AS Date), 0, 240, N'OM')
INSERT [dbo].[Customer_Details] ([Coustomer_ID], [Coustomer_Name], [Date], [Discount], [Final_Bill], [Entered_User]) VALUES (2, N'omkar', CAST(N'2025-03-13' AS Date), 0, 240, N'OM')
INSERT [dbo].[Customer_Details] ([Coustomer_ID], [Coustomer_Name], [Date], [Discount], [Final_Bill], [Entered_User]) VALUES (3, N'Sumit Shete', CAST(N'2025-03-21' AS Date), 0, 480, N'OM')
GO
INSERT [dbo].[Login] ([User_Id], [User_Name], [User_Role], [Password], [Status]) VALUES (1, N'OM', N'Admin', N'123', 1)
INSERT [dbo].[Login] ([User_Id], [User_Name], [User_Role], [Password], [Status]) VALUES (2, N'Aryan', N'Casher', N'123', 1)
INSERT [dbo].[Login] ([User_Id], [User_Name], [User_Role], [Password], [Status]) VALUES (2, N'Sumit', N'Maneger', N'123', 1)
GO
INSERT [dbo].[Merchant_Details] ([Merchant_id], [Merchant_Name], [Mearchant_Mob_No], [Bink_Details], [Mearchant_Address], [Remening_Amount], [Rem_Amt_Date], [Merchant_Date], [Entered_User]) VALUES (1, N'Quality Bakery', CAST(1232345434 AS Numeric(10, 0)), N'Sbi 
A/c = 12123456789009', N'AT Post Chiplun', 8020.0000, CAST(N'2025-03-06' AS Date), CAST(N'2025-03-06' AS Date), N'OM')
INSERT [dbo].[Merchant_Details] ([Merchant_id], [Merchant_Name], [Mearchant_Mob_No], [Bink_Details], [Mearchant_Address], [Remening_Amount], [Rem_Amt_Date], [Merchant_Date], [Entered_User]) VALUES (2, N'Jitandrea Namkeen', CAST(8087136551 AS Numeric(10, 0)), N'Sbi
A/c = 19191827364590', N'At Post panvel', 3920.0000, CAST(N'2025-03-06' AS Date), CAST(N'2025-03-06' AS Date), N'OM')
INSERT [dbo].[Merchant_Details] ([Merchant_id], [Merchant_Name], [Mearchant_Mob_No], [Bink_Details], [Mearchant_Address], [Remening_Amount], [Rem_Amt_Date], [Merchant_Date], [Entered_User]) VALUES (3, N'Mahaluxmi Treaders', CAST(1231212132 AS Numeric(10, 0)), N'Sbi 
A/c = 1010192837465', N'At Post Kolhapur', 3580.0000, CAST(N'2025-03-06' AS Date), CAST(N'2025-03-06' AS Date), N'OM')
GO
INSERT [dbo].[Order_Details] ([Order_ID], [Date], [Product_Total_Bill], [Entered_User]) VALUES (1, CAST(N'2025-03-28' AS Date), 5600.0000, N'OM')
INSERT [dbo].[Order_Details] ([Order_ID], [Date], [Product_Total_Bill], [Entered_User]) VALUES (2, CAST(N'2025-03-28' AS Date), 2000.0000, N'OM')
INSERT [dbo].[Order_Details] ([Order_ID], [Date], [Product_Total_Bill], [Entered_User]) VALUES (3, CAST(N'2025-03-28' AS Date), 240.0000, N'OM')
GO
INSERT [dbo].[Payment_Details] ([Payment_ID], [Merchant_Name], [Date], [Remaning_Bill], [Paid_Bill], [Total_Bill], [Payment_Method], [Entered_User]) VALUES (1, N'Quality Bakery', CAST(N'2025-03-21' AS Date), 1800.0000, 200.0000, 2000.0000, N'UPI', N'OM')
GO
INSERT [dbo].[Product_Details] ([Product_Id], [Category], [Product_Name], [Purchase_Prise], [Sales_Price], [Merchant_Name], [Note], [Current_Stock], [Status], [Entered_User], [Unit], [barcode]) VALUES (1, N'Namkeen', N'Mix Namkeen', 200, 240, N'Quality Bakery', N'Before Use 3 Months', 4020, 1, N'OM', N'Kg', NULL)
INSERT [dbo].[Product_Details] ([Product_Id], [Category], [Product_Name], [Purchase_Prise], [Sales_Price], [Merchant_Name], [Note], [Current_Stock], [Status], [Entered_User], [Unit], [barcode]) VALUES (2, N'Namkeen', N'Papdi', 200, 240, N'Jitandrea Namkeen', N'Before Use 3 Months', 20, 1, N'OM', N'Kg', NULL)
INSERT [dbo].[Product_Details] ([Product_Id], [Category], [Product_Name], [Purchase_Prise], [Sales_Price], [Merchant_Name], [Note], [Current_Stock], [Status], [Entered_User], [Unit], [barcode]) VALUES (3, N'Chana', N'chana', 160, 200, N'Mahaluxmi Treaders', N'', 10, 1, N'OM', N'Kg', NULL)
GO
INSERT [dbo].[Purchase_Details] ([Coustomer_ID], [Product_Name], [Sales_Price], [Quentity], [Product_Total_Bill]) VALUES (1, N'Mix Namkeen', 240, 1, N'    240.00')
INSERT [dbo].[Purchase_Details] ([Coustomer_ID], [Product_Name], [Sales_Price], [Quentity], [Product_Total_Bill]) VALUES (2, N'Mix Namkeen', 240, 1, N'    240.00')
INSERT [dbo].[Purchase_Details] ([Coustomer_ID], [Product_Name], [Sales_Price], [Quentity], [Product_Total_Bill]) VALUES (3, N'Papdi', 240, 1, N'    240.00')
GO
INSERT [dbo].[Recived_Order_Details] ([Order_ID], [Caregory_Details], [Merchant_Name], [Product_Name], [Purchase_Price], [Sales_Price], [Quantity]) VALUES (1, N'Namkeen', N'Mahaluxmi Treaders', N'Mix Namkeen', 200.0000, 20.0000, 4000)
INSERT [dbo].[Recived_Order_Details] ([Order_ID], [Caregory_Details], [Merchant_Name], [Product_Name], [Purchase_Price], [Sales_Price], [Quantity]) VALUES (11, N'Namkeen', N'Quality Bakery', N'Mix Namkeen', 200.0000, 240.0000, 10)
INSERT [dbo].[Recived_Order_Details] ([Order_ID], [Caregory_Details], [Merchant_Name], [Product_Name], [Purchase_Price], [Sales_Price], [Quantity]) VALUES (12, N'Namkeen', N'Quality Bakery', N'Mix Namkeen', 200.0000, 240.0000, 10)
GO
INSERT [dbo].[Shop_Details] ([Shop_ID], [Shop_Name], [Owner_Name], [Shop_Phone_Name], [Owner_Mobile_No], [Bink_Details], [Shop_Address]) VALUES (1, N'Big Mart', N'Rohan & Indrajit', CAST(1123456709 AS Numeric(10, 0)), CAST(1234567890 AS Numeric(10, 0)), N'a/c 00911242345', N'At Post Patan ')
GO
INSERT [dbo].[Staff_Details] ([Staff_ID], [Staff_Role], [Staff_Name], [Mobile_No], [Alt_Mobile_No], [Joining_Date], [Adhar_card_No], [Current_Address], [Note], [Status], [Enterd_User]) VALUES (1, N'Admin', N'Omkar Sonavane', CAST(1234569878 AS Numeric(10, 0)), CAST(5213546845 AS Numeric(10, 0)), CAST(N'2025-03-21' AS Date), CAST(12345678988 AS Numeric(11, 0)), N'At post Patan ', N'', 1, N'OM')
INSERT [dbo].[Staff_Details] ([Staff_ID], [Staff_Role], [Staff_Name], [Mobile_No], [Alt_Mobile_No], [Joining_Date], [Adhar_card_No], [Current_Address], [Note], [Status], [Enterd_User]) VALUES (2, N'Admin', N'Rohan Pawar ', CAST(502314680 AS Numeric(10, 0)), CAST(6846584975 AS Numeric(10, 0)), CAST(N'2025-03-21' AS Date), CAST(11122554876 AS Numeric(11, 0)), N'At post Karad', N'', 1, N'OM')
GO
ALTER TABLE [dbo].[Purchase_Details]  WITH CHECK ADD  CONSTRAINT [FK_purchase_Details_Coustomer_Details] FOREIGN KEY([Coustomer_ID])
REFERENCES [dbo].[Customer_Details] ([Coustomer_ID])
GO
ALTER TABLE [dbo].[Purchase_Details] CHECK CONSTRAINT [FK_purchase_Details_Coustomer_Details]
GO
ALTER TABLE [dbo].[Recived_Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Recived_Order_Details_Order_Details] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order_Details] ([Order_ID])
GO
ALTER TABLE [dbo].[Recived_Order_Details] CHECK CONSTRAINT [FK_Recived_Order_Details_Order_Details]
GO
/****** Object:  StoredProcedure [dbo].[SP_Customer_Bill]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Customer_Bill]
	@Cid int = 0

AS

Select Customer_Details.Date , Customer_Details.Coustomer_Name , Purchase_Details.Product_Name  ,Purchase_Details.Quentity  , Purchase_Details.Sales_Price , Customer_Details.Discount , Purchase_Details.Product_Total_Bill ,  Customer_Details.Final_Bill From Customer_Details 
Inner join Purchase_Details on Customer_Details.Coustomer_ID =  Purchase_Details.Coustomer_ID  where  Customer_Details.Coustomer_ID = @Cid

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_Customer_Monthly]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Customer_Monthly]
	@Sdt date = NULL,
	@Edt date = NUll
AS
	
	select * from Customer_Details where Date BETWEEN @Sdt And @Edt 

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_Expence_List]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Expence_List]

AS
	SELECT * From Expence_Details

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_Monthly_Payments]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Monthly_Payments]
	@Sdt date = NULL,
	@Edt date = NUll
AS
	
	select * from Payment_Details where Date BETWEEN @Sdt And @Edt 

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_Payments]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Payments]

AS
	SELECT Payment_ID, Merchant_Name , Date , Remaning_Bill , Paid_Bill , Total_Bill , Payment_Method From Payment_Details

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_Product_List]    Script Date: 05-04-2025 02:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Product_List]
	
AS
	
	SELECT * From Product_Details

RETURN 0
GO
USE [master]
GO
